.Finance-comp{
    border:3px solid orange;
    width: 15vw;
    display: grid;
    &_kernel{
        border: 3px solid yellow;
        background-color: black;
        color: orange;
        border-radius: 50%;
        width: 175px;
        aspect-ratio: 1/1;
        display: grid;
        //justify-self: center;
        margin-left: 30px;
        margin-right: 30px;
        justify-content: center;
        align-content: center;
        position: relative;
        top:2vh;
    }
}







// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .Finance-comp{
        border:3px solid blue;
        &_kernel{
            top: 4vh;
            border: 3px solid yellow;
            border-radius: 50%;
            width: 175px;
            aspect-ratio: 1/1;
            display: grid;
            justify-self: center;
            margin-left: 30px;
            justify-content: center;
            align-content: center;
        }
    }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .Finance-comp{
        border:3px solid red;
        &_kernel{
            width: 22vw;
            top:2vh;
        }
    }
}

@media (max-width: 575.98px) {
    .Finance-comp{
        border:3px solid yellow;
        &_kernel{
            width: 125px;
            top: 2vh;
            left: -13vw;
            display: grid;
            justify-self: center;
            margin-left: 30px;
            justify-content: center;
            align-content: center;
        }
    }
}