.Bubble_comp{
    //border:2px solid pink;
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 200px;
    cursor: pointer;
    span{
        align-items: center;
        column-gap: 10px;
        padding: 5px;
        position: relative;
        font-size: 27px;
    }    
    .orange{
        color: orange;
        top:10px;
    }
    .turq{
    }

}





// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .Bubble_comp{
        width: 145px;
        span{
            font-size: 21px;
        }
    }


 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .Bubble_comp{
        width: 100px;    
        .orange{
            top:5px;
            text-align: center;
            font-size: 18px;
        }
        .turq{
            font-size: 18px;
            top:-5px;
        }
    }
 }

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .Bubble_comp{
        width: 0;
       border:none;
        .orange{
            position: absolute;
            width: 80px; 
            aspect-ratio: 1/1;
            top:-70px; 
            display: grid;
            justify-content: center;
            align-content: center;
            background-color: black;
            border: 2px solid orange;
            border-radius: 50%;
            font-size: 16px;
        }
        #down{
            position: absolute;
            width: 80px; 
            aspect-ratio: 1/1;
            top:43px; 
            display: grid;
            justify-content: center;
            align-content: center;
            background-color: black;
            border: 2px solid orange;
            border-radius: 50%;
            font-size: 16px;
        }
        .turq{
            display: flex;
            column-gap: 5px;
            font-size: 16px;
            top:0;
        }
    }
 }




