@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@200&family=Rubik+Distressed&display=swap');
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.App{
    //border: 2px solid red;
    display: grid;
    height: 100vh;
}

.Animation-comp{
    border: 2px solid green;
    display: grid;
}

.Panel-comp{
    //border: 2px solid purple;
    background-repeat: no-repeat;
    background-size: cover;
    &_background{
        border:2px solid red;
        display: grid;
        height: 100vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }


}
.Summary-comp{
    border: 2px solid orange;
    display: grid;
    &_cell{
        border:2px solid chartreuse;
        width: 15vw;
    }
}