@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab:wght@200&family=Rubik+Distressed&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.App{
    //border: 2px solid red;
    display: grid;
    height: 100vh;
}

.Animation-comp{
    border: 2px solid green;
    display: grid;
}

@mixin grid-center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.Panel-comp{
    //border: 2px solid purple;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &_background{
        border:2px solid red;
        display: grid;
        height: 100vh;
    }
}
.Summary-comp{
    border: 2px solid orange;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
    column-gap: 10px;
    &_details{
        position: absolute;
        bottom: 5vh;
        width: 99vw;
        @include grid-center;
        &_shell{
            border: 2px solid turquoise;
            border-radius: 20px;
            background-color: rgba($color: orange, $alpha: 0.6);
            height: 130px;
            width: 800px;
            @include grid-center;

        }
    }
    &_cell{
        border:3px solid rgb(80, 50, 3);
        background-color: rgba($color: turquoise, $alpha: 0.6);
        aspect-ratio: 2/2;
        @include grid-center;
        position: relative;
    }
    #two, #three {
        aspect-ratio: 20/8;
    }
}






// Custom 
@media (max-width: 1350.98px) { 
    .Summary-comp{
        #two, #three {
            aspect-ratio: 2/1;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .Summary-comp{
        border: 2px solid blue;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        &_cell{
            aspect-ratio: 20/9;
            
        }
        #two, #three {
            position: absolute;
            bottom: 0;
            color: white;
            width: 50vw;
            aspect-ratio: 20/9;
            
        }
        #three {
            right: 0;
        }
        #two {
            left: 0;
        }
    }
}



// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .Summary-comp{
        border: 4px solid orangered;
        &_cell{
            aspect-ratio: 20/11;
        }
        #two, #three {
            aspect-ratio: 2/1;
        }
        #three {
            right: 0;
        }
        #two{
            left: 0;
        }

    }
}

@media (max-width: 575.98px) {

    .Summary-comp{
        border: 4px solid green;
        &_cell{
            aspect-ratio: 20/15;
        }
        #two, #three {

        }
        #three {
            right: 0;
            aspect-ratio: 20/15;
        }
        #two {
            left: 0;
            aspect-ratio: 20/15;
        }
    }

}